[Unit]
Description=CoGOS Observer / Telemetry Runtime
After=cogos-spine.service

ConditionPathExists=/usr/lib/cogos/observer

[Service]
Type=simple
ExecStart=/usr/lib/cogos/observer
Restart=always

[Install]
WantedBy=multi-user.target
