{
  "version": "1.4",
  "auth": {
    "user_pool_id": "us-east-1_EXAMPLE",
    "aws_region": "us-east-1",
    "user_pool_client_id": "exampleclientid",
    "identity_pool_id": "us-east-1:example-identity-pool",
    "mfa_methods": [],
    "standard_required_attributes": ["email"],
    "username_attributes": ["email"],
    "user_verification_types": ["email"],
    "password_policy": {
      "min_length": 8,
      "require_lowercase": true,
      "require_uppercase": true,
      "require_numbers": true,
      "require_symbols": true
    },
    "unauthenticated_identities_enabled": false
  }
}
